    <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>offerings to my clients</h2>
        			<p>{{base_feature_area_customer_offer}}</p>
        		</div>
        		<div class="feature_inner row">
					
					{% for customer_offer in customer_offers  %}
					
						<div class="col-lg-4 col-md-6">
							<div class="feature_item">
								{{ customer_offer.icon | safe }}
								<h4>{{ customer_offer.myapp }}</h4>
								<p>{{ customer_offer.description }}</p>
							</div>
						</div>
					
					{% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->