 {% load static %} 
  <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="{{ home_banner_area_image.url }}" alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, i am</h6>
									<h3>{{ site_author }}</h3>
									<h4>{{ home_banner_area_jobs}}</h4>
									<p>{{ site_description }}</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i> {{ home_banner_area_birth_date }}</a></li>
										<li><a href="tel:{{ home_banner_area_phone }}"><i class="lnr lnr-phone-handset"></i> {{ home_banner_area_phone }}</a></li>
										<li><a href="mailto:{{ home_banner_area_email }}"><i class="lnr lnr-envelope"></i> {{ home_banner_area_email }}</a></li>
										<li><a href="https://www.google.com/maps/@38.4292416,33.9985454,18.17z?entry=ttu&g_ep=EgoyMDI1MDgwNi4wIKXMDSoASAFQAw%3D%3D"><i class="lnr lnr-home"></i> {{ home_banner_area_address }}</a></li>
									</ul>
									<ul class="list personal_social">
										{% for social in social_media %}
											<li><a href="{{ social.link }}" target="_blank">{{ social.icon | safe }}</a></li>
										{% endfor %}
										<!-- <li><a href="https://x.com/secilmis_hamdi" target=blank><i class="fa fa-twitter"></i></a></li>-->
										<!-- <li><a href="xxxxxxxxxxx">xxxxxxxxxxxxxx/a></li> -->
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->