  <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Testimonials</h2>
        			<p>{{base_testimonials_area}}</p>
        		</div>
        		<div class="testi_inner">
					<div class="testi_slider owl-carousel">

						{% for testimonial in customer_testimonials %}
							<div class="item">
								<div class="testi_item">
									<p>{{ testimonial.description }}</p>
									<h4>{{ testimonial.name }}</h4>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-half-o"></i></a>
								</div>
						    </div>
						{% endfor %}
					


						
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->