{% extends "base.html" %}
{% load static %}

{% block content %}
    
        <!--================Header Menu Area =================-->
       
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
  
        {% include "includes/base_home_banner_area.html" %}
        
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        {% include "includes/base_welcome_area.html" %}
      
        <!--================End Welcome Area =================-->
        
        <!--================My Tabs Area =================-->
        {% include "includes/base_my_tabs_area.html" %}
       
        <!--================End My Tabs Area =================-->
        
        <!--================Feature Area =================-->
        {% include "includes/base_feature_area.html" %}
       
        <!--================End Feature Area =================-->
        
        <!--================Home Gallery Area =================-->
        {% include "includes/base_home_gallery_area.html" %}
       
        <!--================End Home Gallery Area =================-->
        
        <!--================Testimonials Area =================-->
        {% include "includes/base_testimonials_area.html" %}
        <!--================End Testimonials Area =================-->
        
        <!--================Footer Area =================-->
      

        <!--================End Footer Area =================-->
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

{% endblock content %}